@import "variable"
@import "header"
@import "content"
@import "footer"
@import "typography"
@import "headeradmin"
.grid
  width: 1200px
  height: auto
  max-width: 100%
  margin: 0 auto
body
  margin: 0
  font-family: Roboto
